{% extends 'base.html' %}
{% block title %}
{% load staticfiles %}
<link href="{% static 'account.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!--<div>
  <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm">
  Open Contact Form
</button> -->

<!-- Modal -->

<!-- Modal Body -->
<div class="upload-image">
    <p class="statusMsg"></p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="content" placeholder="Nội dung bài post" name="content"/>
        </div>
        <div class="form-group">
            <input type="file" name="myfile" multiple>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
</div>

<!-- Modal Footer -->


<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>


</div>
</div>
</div>
</div>

{% endblock %}
